 <!-- search -->
 <div class="card-body">
  <div class="mt-1 mb-3">
      <input type="text" class="form-control" (keyup)='filterDatatable($event)'>
  </div>
  <div class="input-group mb-3"> <fa-icon [icon]="'home'" class="mr-4 cinza" ></fa-icon>
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
<!-- search -->
<ngx-datatable
  class="material"
  [limit]="8"
  [rows]="rows"
  [rowHeight]="50"
  [columns]="columns"
  [columnMode]="'force'"
  [sortType]="'multi'"
  [headerHeight]="50"
  [footerHeight]="50">
</ngx-datatable>

</div>
<!-- </div> -->
