


            <div class="card-body p-5 " >
              <div class="col-md-6" style="margin: auto;">
                <h3 class="mb-5">Entrar</h3>
                <div class="form-group ">
                  <label for="exampleInputEmail1">E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Senha</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                  <label class="form-check-label" for="form1Example3"> Manter conectado </label>
                </div>

                <!-- jcsnet: trocar por button -->
                <a href="home" class="btn btn-primary btn-lg btn-block" type="submit">Login</a>

                <hr class="my-4">

                <button class="btn btn-lg btn-block btn-danger" style="background-color: #dd4b39;"
                  type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                  type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
              </div>
            </div>





