<ion-header>
  <ion-toolbar>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ml-3 mr-3">
    <!-- botão adicionar novo -->
    <div class="mb-3 mt-3 text-center">
      <button type="button" class="btn btn-primary btn-lg"><fa-icon [icon]="'file-pen'" class="cinza" ></fa-icon> Nova Lista</button>
    </div>
    <!-- /botão adicionar novo -->
    <!-- lista -->
    <app-data-table
      [url]="'http://localhost:3000/products'"
      [columns]="[
                  { name: 'Description', meta_name:'description' },
                  { name: 'Price', meta_name:'price' }
                 ]"
    ></app-data-table>
    <!-- /lista -->
  </div>
</ion-content>
