<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ml-3 mr-3">
    <!-- botão adicionar novo -->
    <div class="mb-3 mt-3 text-center">
      <button type="button" class="btn btn-primary btn-lg"><fa-icon [icon]="'file-pen'" class="cinza" ></fa-icon> Novo Item</button>
    </div>
    <!-- /botão adicionar novo -->
    <!-- lista -->
    <app-data-table
      [url]="'https://whispering-headland-83074.herokuapp.com/products'"
      [columns]="[
                  { name: 'Descrição', prop:'description' },
                  { name: 'Preço', prop:'price' }
                 ]"
    ></app-data-table>
    <!-- /lista -->
  </div>
</ion-content>
